.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.logo {
  width: 61px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: var(--violet);
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in;
}

.icon:hover {
  transform: scale(1.1);
}